@CHARSET "UTF-8";
table.contracheque {
	border-collapse: collapse;
}
table.contracheque td {
	border: 1px solid #ccc;
	vertical-align: top;
}
table.contracheque td.borda {
	border: 2px solid #BCA9A9;
}
table.contracheque td.cor {
	background-color: #E7D9D9;
}
.direita {
	text-align: right;
}